
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

  .subtext{
    text-align: left;
  }

  .row {
    display: flex;
}

.column {
    flex: 100%;
    margin:20px;
}

.hero-text1 {
    margin:30px;
    color: black;
    z-index: -1;
  }

  .custom-card{
    opacity: 1;
  }

mat-card-title{
  text-align: left;
  font-weight: bold;
}

.cardImage{
  width: 200px;
  height: 200px;
}