<!-- <div class="hero-text1">
  <div class="row">
    <div class="column">
      <u><h2 class="subtext">About me</h2></u>
        <p class="subtext">
        I am currently a CRM Administrator with 1.5 years of experience in Web Development and Software development.<br><br>
        While I am a CRM Administarator by title, I've taken on development roles to extend our organization's CRM functionality. 
        I've developed Web resources, Libraries, Console applications, and assisted in supporting our internal Angular app which all aid in our organization's productivity.
        <br><br>
        I enjoy the automation aspects of a good piece of software as well as the visual appeal of a dynamic application. 
        Given adequate time, I enjoy solving problems 
        <br><br>
        I currently live in Virginia Beach, Virginia, but my dream is to work in Japan
        </p>
  </div>

    <div class="column">
      <u><h2 class="subtext">Interests</h2></u>
        <p class="subtext">
        I enjoy modifying cars, playing videogames, and indulging myself in Anime.
        </p>
    </div>
  </div>
</div> -->



    

