    <mat-card class="hero-text1" [ngClass]="{'custom-card':true}">
      <img mat-card-image src="assets/img/photo.jpg">
      <!-- <img mat-card-image src="/Resume/assets/img/photo.jpg"> -->
      <mat-card-title>{{ 'about.aboutMe' | translate }}</mat-card-title>
      <mat-card-content>
        <div class="subtext">
          <p>
            {{ 'about.aboutMeDescription1' | translate }}
          </p>
          <p>
            {{ 'about.aboutMeDescription2' | translate }}
          </p> 
          <p>
            {{ 'about.aboutMeDescription3' | translate }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="hero-text1" [ngClass]="{'custom-card':true}">
        <img mat-card-image src="assets/img/S2k.gif" onerror="this.src='assets/img/S2K.jpg'">
        <!-- <img mat-card-image src="/Resume/assets/img/S2K.gif" onerror="this.src='/Resume/assets/img/S2K.jpg'"> -->
      <mat-card-title>{{ 'interests.interests' | translate }}</mat-card-title>
        <mat-card-content>
          <div class="subtext">
            {{ 'interests.interestDescription' | translate }}
          </div>
        </mat-card-content>
    </mat-card>

  <mat-card class="hero-text1" [ngClass]="{'custom-card':true}">
      <img mat-card-image src="assets/img/work.jpg">
      <!-- <img mat-card-image src="/Resume/assets/img/work.jpg"> -->
      <mat-card-title>{{ 'work.workExp' | translate }}</mat-card-title>
      <mat-card-content>
        <div class="subtext">
          <p>
            {{ 'work.workExpDesc1' | translate }}<br><br>
            {{ 'work.workExpDesc2' | translate }}
          </p>
          <p>
            {{ 'work.workExpDesc3' | translate }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="hero-text1" [ngClass]="{'custom-card':true}">
        <img mat-card-image src="assets/img/code.jpg">
        <!--<img mat-card-image src="/Resume/assets/img/code.jpg"> -->
      <mat-card-title>{{ 'techSkills.techSkills' | translate }}</mat-card-title>
      <mat-card-content>
        <div class="subtext">
        <p>
          {{ 'techSkills.techSkillsDesc' | translate }}
        </p>
        

          <div  align="left">
            <mat-list>
              <b><u>Software</u></b>
                <mat-list-item>Microsoft Dynamics CRM</mat-list-item>
                <mat-list-item>Visual Studio</mat-list-item>
                <mat-list-item>Visual Studio Code</mat-list-item>
                <mat-list-item>Git</mat-list-item>
                <mat-list-item>MySQL Server</mat-list-item>
            </mat-list>
          </div>

          <div  align="left">
            <mat-list>
                <b><u>Languages</u></b>
                  <mat-list-item>
                    <mat-icon svgIcon="language-html5"></mat-icon>HTML
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="language-css3"></mat-icon>CSS
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="language-javascript"></mat-icon>Javascript
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="language-php"></mat-icon> PHP
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="language-cpp"></mat-icon>C++
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="language-csharp"></mat-icon>C#
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="code-tags"></mat-icon>FetchXML
                  </mat-list-item>

                  <mat-list-item>
                    <mat-icon svgIcon="code-tags"></mat-icon>SQL
                  </mat-list-item>  

            </mat-list>
          </div>

          <div  align="left">
            <mat-list>
              <b><u>Concepts/Frameworks</u></b>
                <mat-list-item>SDLC</mat-list-item>
                <mat-list-item>NodeJS</mat-list-item>
                <mat-list-item>Angular Framework</mat-list-item>
                <mat-list-item>PHP</mat-list-item>
                <mat-list-item>REST API</mat-list-item>
                <mat-list-item>.NET Framework</mat-list-item>
            </mat-list>
            </div>

        </div>
        
      </mat-card-content>
    </mat-card>

  <!-- https://alligator.io/angular/material-design-angular-reference/ -->




    

