<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Main Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="">
          <mat-icon svgIcon="home"></mat-icon>Home
        </a>
      <a mat-list-item routerLink="/about">
        <mat-icon svgIcon="account-circle"></mat-icon>About Me
      </a>
      <a mat-list-item routerLink="/resume" (click)="resumeClick()">
        <mat-icon svgIcon="briefcase"></mat-icon> Resume
      </a>
      <a mat-list-item routerLink="/home" (click)="linkedinClick()">
        <mat-icon svgIcon="linkedin-box"></mat-icon> LinkedIn
      </a>
      <a mat-list-item routerLink="/home"  (click)="githubClick()">
        <mat-icon svgIcon="github-box"></mat-icon> GitHub
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home"><img src="assets/img/bape.png" height="50" width="50"></a>
      <span>Mark Diasanta</span>
    </mat-toolbar>
    <!-- Begin Content -->
    <div class="hero-image">
        <router-outlet></router-outlet>
    </div>
     
    
  </mat-sidenav-content>
</mat-sidenav-container>
