<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">{{ 'navi.navMenu' | translate }}</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="" class="zoom">
          <mat-icon svgIcon="home"></mat-icon>{{ 'navi.home' | translate }}
        </a>
      <a mat-list-item routerLink="/about" class="zoom">
        <mat-icon svgIcon="account-circle"></mat-icon>{{ 'navi.aboutMe' | translate }}
      </a>
      <a mat-list-item routerLink="/resume" class="zoom" (click)="resumeClick()">
        <mat-icon svgIcon="briefcase"></mat-icon> {{ 'navi.resume' | translate }}
      </a>
      <a mat-list-item routerLink="/home" class="zoom" (click)="linkedinClick()">
        <mat-icon svgIcon="linkedin-box"></mat-icon> LinkedIn
      </a>
      <a mat-list-item routerLink="/home" class="zoom" (click)="githubClick()">
        <mat-icon svgIcon="github-box"></mat-icon> GitHub
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-button routerLink="/home"><img class="fade" src="assets/img/bape.png" height="50" width="50">{{ 'home.name' | translate }}</button>

      <!-- Translate Buttons -->
      <span class="fillSpace">
      </span>
      <span>
        <button mat-raised-button class="fade" color="primary" matTooltip="{{ 'navi.langToolJp' | translate }}" (click)="switchLanguage('en'); toggleButton();" *ngIf="visible">English</button>
        <button mat-raised-button class="fade" color="primary" matTooltip="{{ 'navi.langToolEn' | translate }}" (click)="switchLanguage('jp'); toggleButton();" *ngIf="!visible">日本語</button>
      </span>

    </mat-toolbar>
    <!-- Begin Content -->
    <!-- <div class="hero-image">
        <router-outlet></router-outlet>
    </div> -->
    <div class="hero-image">
    <!-- <video poster="/assets/img/background.jpg" autoplay="true" loop>
      <source src="/assets/img/bk.mp4" type="video/mp4">
    </video> -->
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
