<!-- <pdf-viewer   [src]="pdfSrc" 
              [render-text]="true"
              style="display: block;"
              [original-size]="false"
              [autoresize]="fit-to-page"
  >
</pdf-viewer> -->
<div class="hero-text">
    <mat-card>
        <mat-card-content>
            <mat-card-title>
                Click the Button if my Resume looks Old<br><br>
            </mat-card-title>
                <mat-card-actions>
                    <button mat-raised-button color="primary" matTooltip="Updated Resume" (click)="openResume()">My Resume</button>
                </mat-card-actions>
        </mat-card-content>
    </mat-card>
    
</div>

